*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main::after{
    content:'';
    display: table;
    clear: both;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid green;
}

#title{
    color: #e53170;
    font-size: 50px;
}

#title, .description{
    text-align: center;
}

.description{
    padding-top: 10px;
}

.fleft{
    float: left;
    border: 1px solid red;
    width: calc(100% / 3);
}

.fright{
    float: right;
}

.cards{
    height: 130px;
    width: 300px;
    background-color: #0f0e17;
    padding: 20px;
    line-height: 30px;
}

.image{
    width: 130px;
    border: 1px solid blue;
}

.name, .job{
    color: #ffff
}

.email{
    color: #5fc2f3;
    text-decoration: none;
}

.job, .email{
    font-weight: 500;
    font-size: 15px;
}