*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container, .clearfix{
    content:'';
    display: table;
    clear: both;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

#title{
    color: #e53170;
    font-size: 50px;
}

#title, .description{
    text-align: center;
}

.description{
    padding-top: 10px;
}

.fleft{
    float: left;
    width: calc(100% / 3);
}

.cards{
    background-color: #0f0e17;
    padding: 20px;
    line-height: 30px;
    width: calc(100% - 130px);
    float: right;
}

.box{
    height: 130px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: 15px;
}

.image{
    width: 130px;
}

.name, .job{
    color: #ffff
}

.email{
    color: #5fc2f3;
    text-decoration: none;
}

.job, .email{
    font-weight: 500;
    font-size: 15px;
}